<html>
	<head><b><font color="red">Welcome to {{greeting_msg}}</font></b></head>
	
	<body>
	<marquee><h1><font color="green">Provisioned by {{provisioner_tool}}</font></h1></marquee>
	<marquee><h1><font color="blue">Configured by {{automation_tool}}</font></h1></marquee>
	</body>
</html>
